player-connection-mode=Listen
player-connection-guid=1062990083
player-connection-debug=0
player-connection-project-name=Procedural Terrain
player-connection-ip=10.131.73.229
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=535bfaf12afe4907b037850ea8fd2e9d
